{% extends 'MainBundle::layout.html.twig' %}

{% block layoutTitle %}
    Üyeler Ekranı
{% endblock %}
{% block layoutTitleSmall %}
    Bu ekran sayesinde yeni bir üye kaydı açabilir,bunları görebilir düzenleyebilir yahut silebilirsiniz
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('main-page') }}"><i class="fa fa-dashboard"></i> Üye Ekranları</a></li>
        <li><a href="{{ path('create-user') }}"><i class="fa fa-user"></i>Yeni Üye Kaydı</a></li>
    </ol>
{% endblock %}

{% block tipTitle %}
    <p>Burası yeni üye oluşturabileceğiniz bir ekrandır.Bu ekran üzerinden üyeler oluşturur daha sonra yeni bir takım
        kaydı açıp yahut mevcut takımlara bu üyeleri çağırabilirsiniz.</p>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Yeni üye kaydı</h3>
                </div>
                <form role="form" method="post" action="{{ path('create-user-post') }}">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Rol</label>
                            <select class="form-control" name="role">
                                {% for role in roles %}
                                    <option value="{{ role.id }}">{{ role.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Adı</label>
                            <input type="text" class="form-control" name="name" required/>
                        </div>
                        <div class="form-group">
                            <label>Soyadı</label>
                            <input type="text" class="form-control" name="surname" required/>
                        </div>
                        <div class="form-group">
                            <label>Şifre</label>
                            <input type="text" class="form-control" name="password" required/>
                        </div>
                        <div class="form-group">
                            <label>E-Posta</label>
                            <input type="text" class="form-control" name="email" required/>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="is_active">
                                Aktif
                            </label>
                        </div>

                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <!--active navigation menu option-->
    <script type="text/javascript">
        $(document).ready(function () {
            var target_element = $('.sidebar-menu > #user-info');
            $(target_element).addClass('active');

            target_element = null;
            target_element = $('#user-info #create-user');
            $(target_element).addClass('active');
        });
    </script>
{% endblock %}